.fine-art-subtitle {
  &:first-child {
    margin-top: 20px;
  }

  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #6A7F9A;
}

@media screen and (min-width: 600px) {
  .fine-art-photos {
    display: flex;
    flex: {
      wrap: wrap;
      direction: row;
    }
  }

  .cell {
    width: calc(50% - 4rem);
  }
}
