.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
}

.cell {
  margin: 2rem;
}

.subtitle {
  text-align: center;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.materials {
  font-family: warnock-pro, serif;
  text-align: center;
  margin-top: .25rem;
  text-transform: lowercase;
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 4rem);
  }
}
