// @import 'definitons';

.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
}

.cell {
  margin: 2rem;
}

.subtitle {
  text-align: center;
  margin-top: 1rem;
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 4rem);
  }
}
