.about-container {
    font-family: Spectral, serif;
    font-weight: 300;
    padding-bottom: 400px;
}

.gretchen-image {
    width: 100%;
    display: flex;
    margin: 20px auto auto auto;
    max-width: 500px;

}

.gg-logo-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 200px;
    margin: 40px auto;
}

.gg-logo {
    width: 100%;
}

.about-text {
    margin-bottom: 20px;
}
